<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="tonnysunm.com.acornote">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--                <action android:name="android.intent.action.SEND" />-->
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <receiver android:name=".widget.ScreenWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <!--        <service-->
        <!--            android:name=".service.BubbleService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false" />-->


        <activity
            android:name=".ui.note.NoteActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.label.LabelListActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" />&ndash;&gt; -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.colortag.ColorTagListActivity"
            android:label="Colors"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>

        <!--        <service-->
        <!--            android:name=".service.BubbleService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <activity
            android:name=".ui.popup.InvisibleActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Transparent"
            android:label="Acornote Invisible">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.popup.PopupActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Dialog"
            android:label="Acornote Popup">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->

                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>